[core]
  editor = nvim
	excludesfile = ~/.gitignore_global
  pager = delta

[delta]
  navigate = true
  syntax-theme = Dracula
  side-by-side = true

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[user]
	name = Yap Wei Chun
	email = wei.c@rocketbots.io

[alias]
  lg = !git log --graph --simplify-by-decoration --pretty=shorter --all --notes --date-order --relative-date
  churn = \
    !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print "count\tfile"} {print $1 "\t" $2}' | sort -g
  staging =\
    !git checkout staging && \
    git pull && \
    git merge -
  conflicts = \
    !nvim $(git diff --name-only --diff-filter=U)
  resolved = \
    !git add $(git diff --name-only --diff-filter=U) && \
    git commit
  recent = \
    !git for-each-ref --sort=committerdate --color=always refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' \
    | less
  st = \
    !git status -sb
  list = !git show --pretty=format:"" --name-only | sed '/^$/d' | sed \"s|^|`git top`/|g\"
  contrib = shortlog -sn --no-merges
  lp = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  update = !git pull --rebase --prune
  recentFiles = !git log --pretty=format:"" --name-only --since="2 days ago" | sort | uniq
  up = !git push -u origin $(git branch | grep '\\*' | cut -d ' ' -f2)
  push = push -u
  what = !git whatchanged --decorate -p
  forget = rm --cached
  cm = commit --verbose
  modified = \
    !nvim $(git ls-files --modified)
  fsb = \
    !~/dotfiles/scripts/git/fsb.sh
  fshow = \
    !~/dotfiles/scripts/git/fsb.sh

[pretty]
  log = %C(240)%h%C(reset) -%C(auto)%d%Creset %s %C(242)(%an %ar)
  detailed = %C(cyan)%h %C(red)%ad %C(blue)[%an]%C(magenta)%d %C(white)%s
  shorter = %C(auto)%D %C(240)--%C(242)%gD%N %ad by %C(white)%cn%C(reset)

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
  # set "nvim" as tool for merging
  tool = nvim

# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false

[push]
	default = current
	followTags = true
	autoSetupRemote = true

[help]
	autocorrect = 1

[protocol]
	version = 2

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[safe]
	directory = *
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
