snippet cl
console.log('$1')
endsnippet

snippet clog
console.log('$1: ', $1)
endsnippet

snippet ue
useEffect(() => {
	$2
}, [$1])
endsnippet

snippet pt
PropTypes.${1:string}${2:.isRequired},
endsnippet
